section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;

  z-index: 2;
  font-size: 3em;
  text-align: center;
  width: 100%;
  color: #dddddd;
  font-family: "Montserrat", sans-serif;

  font-weight: lighter;
  font-size: 1.8em;
  letter-spacing: 0.5em;
}

section .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222831;
}

section .side#side1 {
  clip-path: polygon(100% 0, 0% 100%, 0 0);
}

section .side#side2 {
  clip-path: polygon(100% 0, 0% 100%, 99% 100%);
}
