.wrapper-contentBx {
  background-color: #222831;
  margin-top: -40px;
}

.contentBx {
  background-color: #dddddd;
  padding: 100px;
  padding-top: 165vh;
  overflow-x: hidden;
/* background: url("../../assets/5141092.jpg")no-repeat;
 position: absolute;*/
  /*overflow: hidden;*/
}
@media all and (min-width: 375px) and (max-width: 800px) {
  .contentBx {
    padding-left: 25px;
    padding-right: 25px;
  }
}
