
.footer {
    background: #222831;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #16a085;
    background-color: #4F5C3B;
    position: relative;
  }
  
  .footer p,
  .footer span {
    color: #222831;
    padding: unset;
    position: relative;
    font-size: 0.8em;
    color: white;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.1em;
  }
